header{
    background-color: black;
}

#logo{
    width: 250px;
    height: 250px;
}

#logoAndtitle1{
    display: flex;
    justify-content: left;
    align-items: center;
}

#title1{
    width: 850px;
    height: 150px;
}

.card-img{
    width: 100px;
    height: 150px;
}

.images{
    width: 100px;
    height: 150px;
}

nav{
    display:flex;
    justify-content: space-around;
}

nav a{
    color: white;
    font-size: 1.75em;
    text-decoration: none;
}

h2 a{
    color: white;
    text-decoration: none;
}

h2 a:hover{
    color: yellow;
}

nav a:hover{
    background-color: lightgray;
    color: yellow;
}

#content{
    max-width:1600px;
    margin:0 auto;
}

#text{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 200px;
}

#paragraph{
    text-align: center;
    grid-column: 2/3;
}

#textTitle{
    color: red;
    margin-bottom: 50px;
}

.home-grid{
    display:grid;
    grid-template-columns: repeat(11, 1fr);
    margin-top: 500px;
}

.john-card{
    grid-column: 3/4;
}

.frisk-card{
    grid-column: 6/7;
}

.sans-card{
    grid-column: 9/11;
}

#bottomLogo{
    margin-top: 500px;
    display: flex;
    justify-content: center;
}

footer{
    margin-top: 100px;
    background-color: black;
}

/* Style the header: fixed position (always stay at the top) */
.header1 {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  
.bio-grid, .story-grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 200px;
    margin-bottom: 200px;
}

.bio-text, .story1{
    text-align: center;
}

#red-cloud{
    grid-column: 2/3;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    height: 550px;
}

#prisoner{
    grid-column: 2/3;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    height: 550px;
}

#frisk-img{
    grid-column: 2/3;
    margin-right: auto;
    margin-left: auto;
}

#john-img{
    grid-column: 1/2;
    margin-right: auto;
    margin-left: auto;
}

#sans-img{
    grid-column: 2/3;
    margin-right: auto;
    margin-left: auto;
}

.bio-images {
    width: 100px;
    height: 150px;
  }








  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: lightskyblue;
    width: 0%;
  }