/*
* {
    border: 1px solid red
}
*/
h1{

    color:steelblue;
}

#emphasis{
    color: red;
}

.room{
    background-color: lightgray;
}

body{
    background-color: white;
}

img{
    width:15%;
    margin: 0 auto;
    display: block;
}

p {
    text-align:center;
    width: 400px;
    margin: 0 auto;
}

#image-container{
    text-align:center;
}

nav a{
    text-decoration: none;
}

nav a:nth-of-type(even){
    color:red;
}

nav a:hover{
    color:pink;
}